.section {
    padding: 60px 40px;
    text-align: center;
     background: linear-gradient(to right, #7b6c7b, #086c93);
}

.section h1 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

body {
    background: #035370;
}
.section h4{
    color: rgb(17, 168, 155);
}
/* Portfolio */
.portfolio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 150px;
    background: #393e46;
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
p{
    color: gray;
}
header {
    background: #111;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #267c91;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #968a0a;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ab1700;
}
