body{
    background-color: #bdadad;
}


.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
h3{
  text-align: center;
  color: #232222;
}
h2{
  text-align: center;
  color: #880404;
}
header {
    background: #111;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #267c91;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #968a0a;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ab1700;
}
