* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* Navbar */
header {
    background: #111;
    padding: 15px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #267c91;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #968a0a;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ab1700;
}

/* Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, #660393, #393e46);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #ffd369;
}

/* Sections */
.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
}

.gray {
    background: #f4f4f4;
}



/* Footer */
footer {
    background: #487828;
    color: white;
    text-align: center;
    padding: 15px;
}
